.playcards-row {
    list-style-type: none;
    display: table;
    width: 100%;
    table-layout: fixed;
}

.playcard {
    position: relative;
    display: table-cell;
    text-align: center;
    height: 250px;
    border: 1px solid black;
}

.playcard.hand {
    height: 160px;
}

.playcard-inner {
    display: table;
}

.playcard.facedown {
    background-color: #373a3c;
}

.playcard.facedown .suit {
    color: transparent;
}

.suit {
    font-size: 2em;
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
}

.value {
    position: absolute;
}

.top-left {
    left: 10px;
    top: 10px;
}

.top-right {
    right: 10px;
    top: 10px;
}

.bottom-left {
    left: 10px;
    bottom: 10px;
}

.bottom-right {
    right: 10px;
    bottom: 10px;
}

.heart, .diamond {
    color: red;
}